/* UTILITIES */
.border{
    border: 5px solid black;
}
/*  */

/* HEADER */
.header-top{
    height: 50px;
    line-height: 50px;
    background-color: #000;
}

header .btn-nav{
    background-color: #363636;
}
/* 1°SECTION */
.section-one{
    height: 800px;
    background-image: url("./img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
}
.section-one h1{
    font-size: 35px;
}
/* RESPONSIVE */
@media  screen and (max-width: 991px) {
    .section-one-img img{
        width: 60%;
    }
}
@media  screen and (min-width: 992px) {
    .section-one-img img{
        width: 25%;
    }
}