/* GENERAL */
.box{
    background-color: #ccc;
    border:1px solid black
}
.box-green{
    background-color: green;
    border:1px solid black
}
/* UTILITIES */
/* font-size */
.fs-45px{
    font-size: 45px;
}
.fs-40px{
    font-size: 40px;
}
.mx-w{
    max-width: 650px;
}
.radius-15{
    border-radius: 15px;
}
/* background */
.bg-site-primary{
    background-color: #1f1f1f;
}
/* width */
.w-100px{
    width: 100px;
}
/*  */

/* HEADER */
.header-top{
    height: 50px;
    line-height: 50px;
    background-color: #000;
}

header .btn-nav{
    background-color: #363636;
}
/* 1°SECTION */
.section-one{
    height: 900px;
    margin-top: 125px;
    background-image: url("./img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
}
.section-one h1{
    font-size: 35px;
}
.section-one-text button{
    background-color: #cd3d0f;
}
/* 5°SECTION */
.section-five{
    height: 800px;
    background-image: url("./img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: top;
}
/* 8°SECTION */
.section-eight{
    background-color: #bebcbb;
}
.section-eight button{
    background-color: #d9dadc;
}
/* 8°SECTION */
.section-ten{
    background-color: #161c3b;
}
.section-ten button{
    background-color: #fff;
}
/* FOOTER */
footer{
    background-color: #00439c;
}
/* HOVER */
/* 4°section */
.section-four .section-four-mini-pic img{
    opacity: 0.5;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: all 0.2s;
}
.section-four .section-four-mini-pic img:hover{
    opacity: 1;
    border-bottom: 3px solid #00439c;
}
